/* intro page */

#intro-container {
    background-image: url("bmap.jpg");
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 314459;
    background-size: cover;
}

#intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: space-between; */
    gap: 160px;
}

#intro-parks {
    /* position: absolute; */
    /* z-index: 314461; */
    background-color: bisque;
    color: #69443C;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 100px;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    /* left: 30%; */
    box-shadow: 5px 10px 5px #ccc;
}

#intro-adventure {
    /* position: absolute; */
    /* z-index: 314461; */
    background-color: transparent;
    color: #69443C;
    font-size: 100px;
    font-family: 'Zen Antique Soft', serif;
    /* top: 50%;
    left: 30%; */
    text-align: center;
}

.button-explore {
    margin-left: 800px;
    /* position: absolute;
    z-index: 314460; */
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    top: 60%;
    left: 50%;
}

.button-explore:focus {
    outline: 0;
}

.button-explore {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    color: #8FDDE7;
}

.button-explore {
    padding: 15px 100px;
}

.button-explore {
    background-color: white;
    border-radius: 100px;
}

.button-explore:hover {
    background-color: #8FDDE7;
    color: beige;
}

/* mobile friendly for intro page */
@media (max-width: 767px) {
    #intro-parks {
        font-size: 30px;
        left: 7%;
        top: 5%;
        padding-left: 10px;
        padding-bottom: 5px;
        padding-right: 10px;
        text-align: center;
    }

    #intro-adventure {
        font-size: 40px;
        left: 10%;
        top: 40%;
    }

    .button-explore {
        font-size: 30px;
        left: 8%;
        padding: 10px 70px;
        top: 58%;
    }
}


/* map page */

#map {
    height: 100vh;
}

#map-container {
    position: relative;
}

.tabs-container {
    position: absolute;
    z-index: 314159;
    top: 40%;
    left: 19%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 550px;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px 30px;
    overflow: hidden;
    border-radius: 50px;
    background-position: right top;
    box-shadow: 5px 10px 5px #ccc;
}

@media (max-width: 767px) {
    .tabs-container {
        top: 50%;
        left: 50%;
    }
}

#nav-explore-tab{
    font-family: 'Zen Antique Soft', serif;
}

#nav-camper-tab{
    font-family: 'Zen Antique Soft', serif;
}

/* .search-container {
    /* position: absolute;
    z-index: 314159; */
/* min-height: 25px; */
/* top: 10%;
    left: 15%; */
/* background-color: rgba(255, 255, 255, 0.5);
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    border-radius: 50px;
    left: 5%; */
/* display: flex;
    justify-content: flex-start;
    align-items: flex-start; */
/* }
*/ 

#select-dropdown {
    margin: 10px;
    text-align: left;
    padding-right: 1ch;
}

#selectState {
    font-family: 'Zen Antique Soft', serif;
    font-size: 20px;
    padding-bottom: 5px;
    padding-left: 40px;
    /* padding-right: 40px; */
    border-radius: 100px;
    background-color: beige;
    /* /* border: none;
    font: inherit;
    color: inherit; */
}

#states-dropdown {
    width: 250px;
    background-color: #8FDDE7;
    margin: 10px;
    border-radius: 100px;
    font-family: 'Lato', sans-serif;
}

#states-dropdown:hover {
    background-color: beige;
}

#search-bar {
    background: #fff;
    width: 100px;
    height: 55px;
    display: flex;
    border-radius: 200px;
}

#searchTerms {
    flex: 1;
    border-radius: 100px;
    outline: none;
    top: 20%;
}

#btnSearch {
    top: 20%;
    background: #8FDDE7;
    padding: 10px 50px;
    border-radius: 100px;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    /* cursor: pointer; */
}

#results {
    font-family: 'Lato', sans-serif;
    max-height: 250px;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1030;
    position: fixed;
    width: 350px;
    left: 5%;
    top: 50%;
    bottom: 5px;
    margin: 10px;
    border-radius: 50px;
    padding: 10px 50px;
}

@media (min-width: 767px) {
    .tabs-container {
        display: block;
        left: 20%;
    }

    #btnToggleSearch {
        display: none;
    }
}

#btnToggleSearch {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 314159;
}

/* Icons */

.parkIcon {
    color: #69443C;
    font-size: 36px;
}

.campgroundsIcon {
    color: #69443C;
    font-size: 36px;
}

.carparkIcon {
    color: #69443C;
    font-size: 36px;
}

.supermarketIcon {
    color: #69443C;
    font-size: 36px;
}

.imgIcon {
    height: 250px;
    width: 300px;
}

.btn btn-primary {
    position: absolute;
    z-index: 314160;
}

/* .tabs .tab-header {
    height: 60px;
    display: flex;
    align-items: center;
}

.tabs .tab-header>div {
    width: calc(100% / 3);
    text-align: center;
    color: #8FDDE7;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    outline: none;
}

.tabs .tab-header>div>i {
    display: block;
    margin-bottom: 5px;
}

.tabs .tab-header>div.active {
    color: #69443C;
}

.tabs .tab-indicator {
    position: relative;
    width: calc(100% / 3);
    height: 5px;
    background: white;
    left: 0px;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
}

.tabs .tab-body {
    position: relative;
    height: calc(100% - 6px);
    padding: 10px 5px;
}

.tabs .tab-body>div {
    position: absolute;
    top: -200%;
    opacity: 0;
    margin-top: 5px;
    transform: scale(0.9);
    transition: opacity 500ms ease-in-out 0ms,
        transform 500ms ease-in-out 0ms;
}

.tabs .tab-body>div.active {
    top: 0px;
    opacity: 1;
    transform: scale(1);
    margin-top: 0px;
} */


:root {
    --primary-color: #8FDDE7;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-title-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-container {
    position: absolute;
    height: 5rem;
    width: 5rem;
    margin: 0.5rem;
}

.input-container input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

/* .input-container .radio-tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    transition: all 300ms ease;
}

.fa-solid fa-square-parking{
    color: var(--primary-color);
    font-size: 3rem;
} */