/* intro */

/* #intro-parks {
    position: absolute;
    z-index: 314461;
    background-color: bisque;
    color: #69443C;
    padding: 0.35em;
    border-radius: 90px;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    left: 30%;
    box-shadow: 5px 10px 5px #ccc;
}

#intro-adventure {
    position: absolute;
    z-index: 314461;
    background-color: transparent;
    color: #69443C;
    font-size: 100px;
    font-family: 'Zen Antique Soft', serif;
    top: 20%;
    left: 30%;
    text-align: center;
}

.adventure {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    z-index: 314460;
    object-fit: cover;
    object-position: center;
} */

.button-explore {
    margin: 0;
    position: absolute;
    z-index: 314460;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    top: 60%;
    left: 35%;
}

.button-explore:focus {
    outline: 0;
}

.button-explore {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 50px;
    color: #69443C;
}

.button-explore {
    padding: 15px 125px;
}

.button-explore {
    background-color: white;
    border-radius: 100px;
}

#map {
    height: 100vh;
}

#map-container {
    position: relative;
}

.tabs-container {
    position: absolute;
    z-index: 314159;
    top: 40%;
    left: 19%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px 30px;
    overflow: hidden;
    border-radius: 50px;
    background-position: right top;
    box-shadow: 5px 10px 5px #ccc;
}

.search-container {
    position: absolute;
    z-index: 314159;
    min-height: 25px;
    top: 10%;
    left: 15%;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#search-bar {
    background: #fff;
    width: 200px;
    height: 55px;
    display: flex;
}

#searchTerms {
    flex: 1;
    border: none;
    outline: none;
    top:20%;
}

#btnSearch {
    top: 20%;
    background: #8FDDE7;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    /* cursor: pointer; */
}

#selectState {
    font-family: 'Noto Serif Display', serif;
    font-size: 20px;
}

#states-dropdown {
    width: 200px;
    background: #8FDDE7;
    top: 30%;
}

#states-dropdown:hover {
    background-image: none;
    background-color: beige;
}

#results {
    max-height: 300px;
    overflow-y: scroll;
    background-color: bisque;
    z-index: 1030;
    position: fixed;
    width: 350px;
    left: 10px;
    bottom: 0px;
    /* margin: 5px; */
}

.search-result {
    margin: 5px;

}

@media (min-width: 767px) {
    #search-container {
        display: block;
        left: 5%;
    }

    #btnToggleSearch {
        display: none;
    }
}

#btnToggleSearch {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 30000;
}

.dropdown-group {
    position: absolute;
    z-index: 40000;
    min-height: 25px;
    top: 50%;
    left: 15%;
    background: #8FDDE7;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 50px;
    padding-bottom: 100px;
    max-height: 300px;
    overflow-y: scroll;
}

/* Icons */

.parkIcon {
    color: #69443C;
    font-size: 36px;
}

.campgroundsIcon {
    color: #69443C;
    font-size: 36px;
}

.carparkIcon {
    color: #69443C;
    font-size: 36px;
}

.supermarketIcon {
    color: #69443C;
    font-size: 36px;
}

.imgIcon {
    height: 250px;
    width: 300px;
}

.btn btn-primary {
    position: absolute;
    z-index: 314160;
}

/* .tabs .tab-header {
    height: 60px;
    display: flex;
    align-items: center;
}

.tabs .tab-header>div {
    width: calc(100% / 3);
    text-align: center;
    color: #8FDDE7;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    outline: none;
}

.tabs .tab-header>div>i {
    display: block;
    margin-bottom: 5px;
}

.tabs .tab-header>div.active {
    color: #69443C;
}

.tabs .tab-indicator {
    position: relative;
    width: calc(100% / 3);
    height: 5px;
    background: white;
    left: 0px;
    border-radius: 5px;
    transition: all 500ms ease-in-out;
}

.tabs .tab-body {
    position: relative;
    height: calc(100% - 6px);
    padding: 10px 5px;
}

.tabs .tab-body>div {
    position: absolute;
    top: -200%;
    opacity: 0;
    margin-top: 5px;
    transform: scale(0.9);
    transition: opacity 500ms ease-in-out 0ms,
        transform 500ms ease-in-out 0ms;
}

.tabs .tab-body>div.active {
    top: 0px;
    opacity: 1;
    transform: scale(1);
    margin-top: 0px;
} */


:root{
    --primary-color: #8FDDE7;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-title-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-container{
    position:absolute;
    height: 5rem;
    width: 5rem;
    margin: 0.5rem;
}

.input-container input{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

/* .input-container .radio-tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    transition: all 300ms ease;
}

.fa-solid fa-square-parking{
    color: var(--primary-color);
    font-size: 3rem;
} */