#map {
    height: 100vh;
}

#map-container {
    position: relative;
}

#scroll {
    position: absolute;
    z-index: 314159;
    height: auto;
    max-width: 350px;
    top: 2%;
    left: 5%;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
}

/* Style the tab */
.tab {
    position: absolute;
    z-index: 314159;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 6px;
    border: 1px solid #ccc;
    border-top: none;
  }


#search-container {
    position: absolute;
    z-index: 314159;
    min-height: 25px;
    top: 2%;
    left: 15%;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    display: none;
}


#results {
    max-height: 300px;
    overflow-y: scroll;
}

.search-result {
    margin: 5px;
}

@media (min-width: 767px) {
    #search-container {
        display: block;
        left: 5%;
    }

    #btnToggleSearch {
        display: none;
    }
}

#btnToggleSearch {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 30000;
}

.dropdown-group {
    position: absolute;
    z-index: 40000;
    min-height: 25px;
    top: 100%;
    left: 15%;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 50px;
    padding-bottom: 100px;
    max-height: 300px;
    overflow-y: scroll;
}

/* Icons */

.parkIcon {
    color: #69443C;
    font-size: 36px;
}

.campgroundsIcon {
    color: #69443C;
    font-size: 36px;
}

.carparkIcon {
    color: #69443C;
    font-size: 36px;
}

.supermarketIcon {
    color: #69443C;
    font-size: 36px;
}
